.contentsContainer {
  height: 45vh;
  width: 100%;
}

.metabaseContainer {
  width: 100%;
  height: 45vh;
}
.contentsCard {
  height: 100%;
  overflow-y: scroll;
  [class*="MuiAvatar-img"] {
    object-fit: scale-down;
  }
}

.filtersContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textFilter {
  margin-right: 1rem;
}
.errorMessageContainer {
  text-align: center;
  margin-top: 1rem;
  > span {
    font-weight: bold;
  }
}